body  {
    background-color: #a0edf7;
}

h1{
color: #ffffff;
text-shadow: 2px 2px #000000;
font-family: "Comic Sans MS";
}

h2{
color: #ffffff;
text-shadow: 2px 2px #000000;
    font-family: "Comic Sans MS";
}

h3{
color: #ffffff;
text-shadow: 2px 2px #000000;
    font-family: "Comic Sans MS";
}

h4{
color: #ffffff;
text-shadow: 2px 2px #000000;
    font-family: "Comic Sans MS";
}

h5{
color: #ffffff;
text-shadow: 2px 2px #000000;
    font-family: "Comic Sans MS";
}


hr {
    background-color:#a0edf7;
    border-style: none;
border-top-style: double;
height: 5px;
background-color: #a0edf7;
border-width: 20px;

}

li{
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  font-family: "Comic Sans MS";
}


