body  {
    background-color: #a0edf7;
}

h1{
color: white;
text-shadow: 2px 2px black;
font-family: "Comic Sans MS";
}

h2{
color: white;
text-shadow: 2px 2px black;
    font-family: "Comic Sans MS";
}

h3{
color: white;
text-shadow: 2px 2px black;
    font-family: "Comic Sans MS";
}

h4{
color: white;
text-shadow: 2px 2px black;
    font-family: "Comic Sans MS";
}

h5{
color: white;
text-shadow: 2px 2px black;
    font-family: "Comic Sans MS";
}


hr {
    background-color:#a0edf7;
    border-style: none;
border-top-style: double;
height: 5px;
background-color: #a0edf7;
border-width: 20px;

}
